body{
    font-family: "Calibri";
}

a{
    text-shadow: 0px 0px black;
    margin: 2px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: text-shadow 0.4s;
}

a:hover{
    background-color: white;
    text-shadow: 1.5px 1.5px grey;
}

a:active{
    background-color: grey;
}

h1{
    background-color: black;
    color: white;
    margin: 0;
    height: 60px;
}

h2{
    border-radius: 2px;
    border-bottom: 4px solid black;
    width: fit-content;
}

table, tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 2px;
}

.nav{
    background-color: grey;
}

.info{
    max-width: 800px;
}

#programming_cat{
    float: right;
    height: 150px;
    width: 150px;
    margin-right: 500px;
}
